#bbb1{
    opacity:0.1;
}
#bbb2{
    opacity:0.1;
    }

#bbb3{
    opacity:0.1;
        }
        
        #bbb4{
            opacity:0.1;  
        }
        #bbb5{
            opacity:0.1;
            }
        
        #bbb6{
            opacity:0.1;